<div class="jumbotron">
	<center>
		<h1>Reservations anywhere, anytime!</h1>
		<img src= "http://rupaknepali.com.np/wp-content/uploads/2012/11/Hotel-Image-2-Small.jpg" ><br>

		<%= link_to "Your Hotel Reservation Destination!", hotels_path, class: "btn btn-default" %>
	</center>

</div>